<div class="d-flex justify-content-between align-items-center bg-secondary mt-2 p-5" style="height: 250px;">

    <div>
        <h2>DailyCart</h2>
       
    </div>

    <div>
        <h2>Links</h2>
        <div class="d-flex flex-column">
            <h6>Home Page</h6>
            <h6>Cart Page</h6>
            <h6>Wishlist</h6>
        </div>
    </div>

    <div>
        <h2>Assistance</h2>
        <div class="d-flex flex-column">
            <h6>Angular</h6>
            <h6>Bootstrap</h6>
            <h6>Font-awesome</h6>
        </div>
    </div>


    <div>
        <h2>Contact Us</h2>
        <div class="d-flex">
            <input type="text" placeholder="Enter your emailID" class="form-control">
            <button class="btn btn-danger ms-1">Subscribe</button>
        </div>
        <div class="d-flex justify-content-between mt-4" style="width: 170px;">
            <i class="fa-brands fa-instagram fa-2xl"></i>
            <i class="fa-brands fa-x-twitter fa-2xl"></i>
            <i class="fa-brands fa-facebook fa-2xl"></i>
            <i class="fa-brands fa-linkedin fa-2xl"></i>
        </div>
    </div>




</div>
