<div *ngIf="allProduct.length==0" class="d-flex flex-column justify-content-center align-items-center">
    <img height="400px" src="https://cdn.dribbble.com/users/5107895/screenshots/14532312/media/a7e6c2e9333d0989e3a54c95dd8321d7.gif" alt="">
    <h2 class="fw-bolder text-danger fs-1" >Your Cart is Empty</h2>
 </div>


 <div *ngIf="allProduct.length!=0" class="d-flex flex-column justify-content-center align-items-center" >
    <h2 class="fw-bolder text-danger fs-1 mt-5" >Cart Summary</h2>
 

    <div class="d-flex justify-content-between w-75 mt-4">

  <div>
    <table class="table shadow border ms-5" style="width: 700px;">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Product Name</th>
            <th scope="col">Image</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Action</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of allProduct;let i = index" >
            <th scope="row">{{i+1}}</th>
            <td>{{item.title}}</td>
            <td><img [src]="item.image" height="70px" alt=""> </td>
            <td>
               <div class="d-flex justify-content-between align-items-center" style="width: 85px;">
                    
                      <button>-</button>
                        <div style="height: 40px; width:50px;" class="border d-flex justify-content-center align-items-center">
                            <h5>{{item.quantity}}</h5>
                        </div>
                        <button>+</button>
                    
               </div>
            </td>
            <td>{{item.grandTotal}}</td>
            <td><i (click)="removeCart(item._id)" class="fa-solid fa-trash text-danger fa-xl "></i></td>

          </tr>
          
        </tbody>
      </table>
  </div>


  <div>

    <div style="height: 130px; width: 250px; border-radius: 10px;" class="d-flex flex-column border card shadow p-3 me-5">
      <h4>Grand Total:${{total}}</h4>
       <button class="btn btn-success">Checkout</button>

    </div>

  </div>



    </div>



 </div>
