
<div class="row mt-5">
    <div class="col col-2"></div>
  
    <div class="col col-4">
      <div class="card shadow w-100">
        <div class="d-flex justify-content-center align-items-center flex-column">
          <h2 class="text-danger mt-5">Welcome to our Website</h2>
          <div class="mt-5">
            <div class="d-flex justify-content-center align-items-center">
              <form (ngSubmit)="register()" class="mt-5 me-4 border rounded shadow w-full p-3 mb-5" style="width: 400px;" [formGroup]="registerForm" >
                <div class="mb-3 mt-3">
                  <h2 class="text-center">Register</h2>
                </div>
  
                <div class="mb-3 mt-5">
                  <input type="text" class="form-control" placeholder="Username" formControlName="username"
                  name="uname"/>
                  <span *ngIf="registerForm.get('username')?.errors && registerForm.get('username')?.touched" class="text-danger" >Invalid Username</span>
                </div>
                <div class="mb-3">
                    <input
                      type="email"
                      class="form-control"
                      placeholder="E-mail"
                      formControlName="email"
                      name="email"
                    />
                    <span *ngIf="registerForm.get('email')?.errors && registerForm.get('email')?.touched" class="text-danger" >Invalid Email</span>

                  </div>
                <div class="mb-3">
                  <input
                    type="password"
                    class="form-control"
                    placeholder="Password"
                    formControlName="password"
                      name="pswd"
                  />
                  <span *ngIf="registerForm.get('password')?.errors && registerForm.get('password')?.touched" class="text-danger" >Invalid Password</span>

                </div>
                <div class="mb-3 w-full">
                  <button type="submit" class="btn btn-success ms-1">
                    Register
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <h1></h1>
      </div>
    </div>
  
    <div class="col col-4">
      <img src="https://th.bing.com/th/id/OIG.qGja1CZKGXbsNDC0XmYH?pid=ImgGn" alt="no-image" height="550px" width="450px">
    </div>
    <div class="col col-2"></div>
  </div>
